[main]
workdir = /home/lairdm/islandviewer/workdir/

dist_table = Distance

default_scheduler = Islandviwer::MetaScheduler
cvtree_dispatcher = "/home/lairdm/islandviewer/run_cvtree.pl -w %s -s %s -c %s"
cvtree_cmd = "/usr/local/bin/cvtree -i %s -k5 -t aa -S -q -l %s >>%s 2>&1"

dsn=DBI:mysql:database=islandviewer;host=localhost
dbuser=ivuser
dbpass=ivuser34%
